GEMINI_API_KEY=AIzaSyByUck-8MqekFjIDgNb7OOQPAf4snhkC_s
SARVAM_API_KEY=sk_hhqa2oth_LOeRSiDcHdD0lud2eSGc9nrq
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX_NAME=telesupport-memory
VECTOR_DB_PROVIDER=pinecone
USE_MOCK_CRM=true
USE_MOCK_STT=false
USE_MOCK_VECTOR_DB=true
USE_MOCK_SMS=true
USE_MOCK_OUTAGE=true
USE_MOCK_TTS=false
